In [7]:
import networkx as nx
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import math

In [83]:
propose = pd.read_csv('result/kc--/ranking_table_kc.csv')
all_in = pd.concat([propose], axis=1, sort=False)

Top_Five_all_in = pd.DataFrame(all_in.loc[0:])
ranking_table_all_in = pd.concat([Top_Five_all_in['NDR'],Top_Five_all_in['TR'], Top_Five_all_in['BC'], Top_Five_all_in['CNC'],
                                  Top_Five_all_in['PR'],Top_Five_all_in['TPN']], 
                                 axis=1, sort=False)
#float_col = ranking_table_all_in.select_dtypes(include = ['float64']) # This will select float columns only
# list(float_col.columns.values)
#for col in float_col.columns.values:
#    ranking_table_all_in[col] = ranking_table_all_in[col].astype('int64')
#ranking_table_all_in.to_csv('result/usair/ranking_table_all_in_usair_network.csv')
ranking_table_all_in

   NDR  TR  BC  CNC  PR  TPN
0    0   0   0    0  33    0
1   33  33  33    2   0   33
2   32  32  32   33  32   32
3    1   1   2   31   1    1
4    2   2  31    8   2    2

In [84]:
# calculate the kendall's correlation between variables
kd=ranking_table_all_in.corr(method ='kendall')
#kd.to_csv('result/dolphins--/correlation/kdcorr_matrix_dolphins.csv')
kd

     NDR   TR   BC  CNC   PR  TPN
NDR  1.0  1.0  1.0  0.2 -0.4  1.0
TR   1.0  1.0  1.0  0.2 -0.4  1.0
BC   1.0  1.0  1.0  0.2 -0.4  1.0
CNC  0.2  0.2  0.2  1.0  0.0  0.2
PR  -0.4 -0.4 -0.4  0.0  1.0 -0.4
TPN  1.0  1.0  1.0  0.2 -0.4  1.0

In [85]:
# calculate the pearson's correlation between variables 
ps=ranking_table_all_in.corr(method ='pearson')
#ps.to_csv('result/usair/correlation/pscorr_matrix_usair.csv')
ps

          NDR        TR        BC       CNC        PR       TPN
NDR  1.000000  1.000000  0.718430  0.147187  0.087328  1.000000
TR   1.000000  1.000000  0.718430  0.147187  0.087328  1.000000
BC   0.718430  0.718430  1.000000 -0.016913 -0.208329  0.718430
CNC  0.147187  0.147187 -0.016913  1.000000  0.087443  0.147187
PR   0.087328  0.087328 -0.208329  0.087443  1.000000  0.087328
TPN  1.000000  1.000000  0.718430  0.147187  0.087328  1.000000

In [86]:
import scipy.stats as stats
#scipy.stats.spearmanr(data1,data2)

In [92]:
ranking_table_all_in['NDR'].corr(ranking_table_all_in['BC'], method='kendall')

0.9999999999999999

In [93]:
k = ranking_table_all_in
print (k.corr(method='kendall'))

     NDR   TR   BC  CNC   PR  TPN
NDR  1.0  1.0  1.0  0.2 -0.4  1.0
TR   1.0  1.0  1.0  0.2 -0.4  1.0
BC   1.0  1.0  1.0  0.2 -0.4  1.0
CNC  0.2  0.2  0.2  1.0  0.0  0.2
PR  -0.4 -0.4 -0.4  0.0  1.0 -0.4
TPN  1.0  1.0  1.0  0.2 -0.4  1.0

In [94]:
#stats.kendalltau(ranking_table_all_in['NDR'], ranking_table_all_in['TR'])
import numpy as np

def get_corrs(df):
    col_correlations = df.corr(method='kendall')
    col_correlations.loc[:, :] = np.tril(col_correlations, k=-1)
    cor_pairs = col_correlations.stack()
    return cor_pairs

my_corrs = get_corrs(ranking_table_all_in)
# and the following line to retrieve the single correlation
my_corrs

NDR  NDR    0.0
     TR     0.0
     BC     0.0
     CNC    0.0
     PR     0.0
     TPN    0.0
TR   NDR    1.0
     TR     0.0
     BC     0.0
     CNC    0.0
     PR     0.0
     TPN    0.0
BC   NDR    1.0
     TR     1.0
     BC     0.0
     CNC    0.0
     PR     0.0
     TPN    0.0
CNC  NDR    0.2
     TR     0.2
     BC     0.2
     CNC    0.0
     PR     0.0
     TPN    0.0
PR   NDR   -0.4
     TR    -0.4
     BC    -0.4
     CNC    0.0
     PR     0.0
     TPN    0.0
TPN  NDR    1.0
     TR     1.0
     BC     1.0
     CNC    0.2
     PR    -0.4
     TPN    0.0
dtype: float64