In [30]:
import networkx as nx
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import math

In [44]:
#concatinate all the measures together.
cent = pd.read_csv('result/kc--/cent/Top_cent_kc.csv')
ds = pd.read_csv('result/kc--/ds_Ranking_top_kc.csv')
Top_three = pd.read_csv('result/kc--/propose/top_rank_table_kc.csv')
all_in = pd.concat([ds,cent,Top_three], axis=1, sort=False)

Top_Five_all_in = pd.DataFrame(all_in.loc[0:4])
ranking_table_all_in = pd.concat([Top_Five_all_in['NDR'],Top_Five_all_in['TR'], Top_Five_all_in['BC'], Top_Five_all_in['CNC'],
                                  Top_Five_all_in['DC'], Top_Five_all_in['EC'],Top_Five_all_in['PR'],
                                  Top_Five_all_in['TC'], 
                                  Top_Five_all_in['PI'], Top_Five_all_in['CC'],Top_Five_all_in['TPN']], 
                                 axis=1, sort=False)

#convert column nodes_TPN to int
#ranking_table_all_in= ranking_table_all_in.astype(int)
#print(ranking_table_all_in)
ranking_table_all_in

   NDR  TR  BC  CNC  DC  EC  PR  TC  PI  CC   TPN
0    0   0   0    0  33  33  33   0   0   0   0.0
1   33  33  33    2   0   0   0  33  33  33  33.0
2   32  32  32   33  32   2  32  32  32   2  32.0
3    1   1   2   31   2  32   1   1   1  31   2.0
4    2   2  31    8   1   1   2   2   2  32   NaN

In [45]:
#ranking_table_all_in.to_csv('result/kc--/ranking_table_kc.csv')#save top three ranking of all the 11 measures