In [4]:
import networkx as nx
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import math

In [44]:
cent = pd.read_csv('evaluation/rank_result/DENSITY.csv')
#cent1 = cent.drop(['Unnamed: 0'], axis=1)
#cent2=[tuple(x) for x in cent1.to_records(index=False)]

In [45]:
H=cent
Y= round(H,8)
#Y.to_csv('evaluation/rank_result/DENSITY1.csv')
Y

   Zachary’s karate club         TR        BC       CNC        PR       TPN
0                   TOP-1  0.117424  0.117424  0.117424  0.115530  0.117424
1                   TOP-3  0.073118  0.073118  0.077419  0.073118  0.073118
2                   TOP-4  0.059770  0.059770  0.073563  0.059770  0.059770
3      Dolphins  Network        NaN       NaN       NaN       NaN       NaN
4                   TOP-1  0.080328  0.083060  0.083060  0.081421  0.080874
5                   TOP-3  0.069549  0.078321  0.073935  0.071429  0.068922
6          Blogs Network        NaN       NaN       NaN       NaN       NaN
7                   TOP-3  0.079486  0.081239  0.079486  0.081239  0.079486
8                   TOP-4  0.050363  0.050363  0.050363  0.050363  0.050363
9        USAir97 Network        NaN       NaN       NaN       NaN       NaN
10                  TOP-1  0.036382  0.036382  0.036382  0.036766  0.036382
11                  TOP-3  0.032823  0.034139  0.033249  0.034139  0.032823
12                  TOP-4  0.031327  0.033136  0.031625  0.033136  0.031327
13    E-mail network URV        NaN       NaN       NaN       NaN       NaN
14                  TOP-1  0.008404  0.008434  0.008434  0.008404  0.008404
15                  TOP-3  0.008285  0.008274  0.008274  0.008326  0.008276
16                  TOP-5  0.008204  0.008181  0.008151  0.008151  0.008157

In [40]:
#Ranking the total power of node i
def eff_Ranking( val ):
      return val [1]
ds_Rank =cent2
ds_Rank.sort(key=lambda elem: elem[1])

NameError: name 'cent2' is not defined

In [98]:
ds_Rank_table = pd.DataFrame(ds_Rank, columns = ('NDR','Density'))
ds_Rank_table = pd.DataFrame(ds_Rank_table.loc[0:4])
ds_Rank_table.index = ds_Rank_table.index + 1

In [101]:
ds_Rank_table
#ds_Rank_table.to_csv('result/kc--/ds_Ranking_top_kc.csv')
#ds_Rank_table.to_csv('result/kc--/ds_Ranking_kc.csv')

   NDR   Density
1    0  0.083333
2   33  0.087121
3   32  0.100379
4    1  0.107955
5    2  0.107955